.main-navbar-container {
    /* border:2px solid red; */
    background-color: white;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 95%;

}

.navbar-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

.navbar-container nav ul {
    display: flex;
}

.navbar-container nav ul li {
    margin-right: 2.1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    word-spacing: 0.7;
}


/* ?search-profile-section styling */
.navbar-container ul {
    display: flex;
    gap: 1rem;
}

/* ? secondary icon styling */
.nav-secondary-icons {
    width: 2rem;
    height: 2rem;
}

.user-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}


/*? Input container styling */
.input-container {
    /* border: 2px solid green; */
    margin-left: 1rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* min-width: 15rem; */
}

.input-container input {
    width: 100%;
    background-color: #696e7923;
    padding: 1rem;
    padding-left: 3.5rem;
    outline: none;
    border-radius: 10px;

}

.input-container img {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 7px;
    left: 5px;
}

/* ?search-profile-section styling ends here */







/* ?Logo styling  */

.logo-container {
    width: 5.6rem;
    height: 3.8rem;
}