/*? boiler plate code */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
    font-family: 'Martian Mono', monospace;
}

img {
    display: block;
    max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}


a {
    /* Places underlines below the descenders */
    text-underline-position: under;


    /* Sets the thickness as a percentage of the font size */
    text-decoration-thickness: 8;
}


label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}



/* ? utility declaration */


.container {
    width: 1350px;
    max-width: 95%;
    min-height: 100vh;
    margin: auto;
    /* border: 2px solid orange; */

}

/* custome scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 4rem;
    cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F41CB2;
}



@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}